<div class="container">
  <h3>I'm in the AppComponent!</h3>
  <hr />
  <button
    type="button"
    class="btn btn-primary showMessages"
    (click)="showMessages = !showMessages"
  >
    {{ showMessages ? "Hide messages" : "Show messages" }}
  </button>
  <div class="row" *ngIf="showMessages">
    <div class="col-xs-12"></div>

    <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert>
    <app-info-alert></app-info-alert>
  </div>
  <app-servers></app-servers>
  <app-game-control></app-game-control>
</div>
